/* Main */
html, body, #app {
    height: 100%;
}

*, *:focus, *:hover {
    outline: none !important;
}

.pointer {
    cursor: pointer;
}

.z-index-1000 {
    z-index: 1000;
}

.negative-m-1 {
    margin: -1px;
}

.underline:after {
    content: '';
    
    display: block;
    margin: 10px 0;

    border-bottom: 1px solid var(--primary);
}

.scroll-y {
    max-height: 500px;
    overflow-y: auto; 
    overflow-x: hidden;
}


/* Content */
.modal-window-width {
    max-width: 760px;
}

.area-minh {
    min-height: 100px;
}

video, img {
    width: 100%;
    vertical-align: middle;
}

.video-preview {
    position: absolute;
    
    top: 0;
    left: 0;
}

/* Card */
.card-header-spinner {
    display: none;
    position: absolute;
    
    top: 4px;
    right: 4px;

    font-size: 10px;
}

.card-preview {
    max-width: calc(25% - 30px);
}

.card-preview-header {
    cursor: pointer;
}

.card-preview-body__title {
    font-size: 16px;
    font-weight: 500;
}

.card-preview-body__subtitle {
    font-size: 11px;
}

.card-preview-body__text {
    font-size: 12px;
}

.card-preview-footer {
    display: flex;
    justify-content: space-between;

    padding: .75rem 1.25rem;
}

.card-preview-footer__left,
.card-preview-footer__right {
    font-size: 11px;

    color: var(--gray);
}

/* Alert sticker */
.sticker-wrapper {
    position: absolute;
    
    top: 0; 
    left: 0;
    right: 0; 
    bottom: 0;
}

.sticker {
    position: sticky; 
    top: 0; 
    
    z-index: 9999; 

    transform: translateY(-1000%);
    transition: .35s;
}

.sticker.shown {
    transform: translateY(0);
}

/* Searchlist */
.searchlist-shadow {
    box-shadow: 0px 0px 10px 2px var(--info);
}

/* Loader */
.loading-preview:before {
    content: '';
    position: absolute;

    display: block;

    height: 4px;
    width: 0%;
    
    background-color: var(--indigo);

    animation: load-preview .5s;    
}

@keyframes load-preview {
    from { width: 0%; }
    to   { width: 100%; }
}

.main-loader:before {
    content: '';
    position: relative;

    display: block;

    height: 4px;
    width: 30%;

    left: -30%;
    
    background-color: var(--indigo); 

    animation: load-main 1s infinite;
}

@keyframes load-main {
    0% { left: -30%; }
    100% { left: 100%; }
}

/* 
==========
Medias
========== 
*/

@media (max-width: 992px) { 
    .card {
        flex: auto !important;
        
        max-width: calc(50% - 30px) !important;
        
        margin-bottom: 30px !important;
    }

    .card-preview {
        max-width: none;
    }

    .card-deck {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 576px) {
    .card {
        max-width: 100% !important;
    }
}   